In [83]:
import pandas as pd
from openfacefiltercsv import FilterCSV
from pathlib import Path

In [206]:
openface = FilterCSV()
openface.clean_controller(Path('OpenFace_demo.csv'),Path('openface\default_clean'))

Cleaning: OpenFace_demo.csv and save to openface\default_clean

In [216]:
df = pd.read_csv("Imotions_demo_unclean.csv",header = 24)

In [217]:
df.columns

Index(['Row', 'Timestamp', 'EventSource', 'SlideEvent', 'StimType', 'Duration',
       'CollectionPhase', 'SourceStimuliName', 'EventSource.1', 'SampleNumber',
       'FrameNo', 'FrameTime', 'NoOfFaces', 'FaceRect X', 'FaceRect Y',
       'FaceRect Width', 'FaceRect Height', 'Joy', 'Anger', 'Surprise', 'Fear',
       'Contempt', 'Disgust', 'Sadness', 'Confusion', 'Frustration', 'Neutral',
       'Positive', 'Negative', 'AU1', 'AU2', 'AU4', 'AU5', 'AU6', 'AU7', 'AU9',
       'AU10', 'AU12', 'AU14', 'AU15', 'AU17', 'AU18', 'AU20', 'AU23', 'AU24',
       'AU25', 'AU26', 'AU28', 'AU43', 'HasGlasses Probability',
       'IsMale Probability', 'Yaw Degrees', 'Pitch Degrees', 'Roll Degrees',
       'LEFT_EYE_LATERAL X', 'LEFT_EYE_LATERAL Y', 'LEFT_EYE_PUPIL X',
       'LEFT_EYE_PUPIL Y', 'LEFT_EYE_MEDIAL X', 'LEFT_EYE_MEDIAL Y',
       'RIGHT_EYE_MEDIAL X', 'RIGHT_EYE_MEDIAL Y', 'RIGHT_EYE_PUPIL X',
       'RIGHT_EYE_PUPIL Y', 'RIGHT_EYE_LATERAL X', 'RIGHT_EYE_LATERAL Y',
       'NOSE_TIP X', 'NOSE_TIP Y', '7 X', '7 Y'],
      dtype='object')

In [218]:
#get row number from where our frames start
row_index = df.index[(df['SourceStimuliName']=='FaceRecording-1') & (df['FrameNo']==0)].to_list()[0]
df = df[row_index:]

row_index = df.index[(df['SlideEvent'] == 'EndMedia') | (df['SlideEvent']=='EndSlide')]
df = df.drop(row_index)

#Extract relevant columns
#Extracted only those AU's which are present on cleaned csv files by produced by FACSvatar
#AU45 is missing so we will add it to the dataframe and zero out all rows
df = df[['Timestamp','FrameNo','AU1','AU2','AU4','AU5','AU6','AU7','AU9','AU10','AU12','AU14','AU15','AU17','AU20','AU23','AU25','AU26']]
df.columns

Index(['Timestamp', 'FrameNo', 'AU1', 'AU2', 'AU4', 'AU5', 'AU6', 'AU7', 'AU9',
       'AU10', 'AU12', 'AU14', 'AU15', 'AU17', 'AU20', 'AU23', 'AU25', 'AU26'],
      dtype='object')

In [219]:
df

,Timestamp,FrameNo,AU1,AU2,AU4,AU5,AU6,AU7,AU9,AU10,AU12,AU14,AU15,AU17,AU20,AU23,AU25,AU26
191,6221,0.0,-0.053094,-0.489638,-1.495139,-2.980789,-3.086217,-2.417395,-5.677638,-2.527132,-1.217818,0.027071,-1.853040,-0.797674,-1.775669,-0.427596,-3.189752,-2.618732
192,6269,1.0,-0.255797,-0.572686,-1.601874,-2.596333,-3.083185,-2.246604,-5.665139,-2.530015,-1.355133,-0.088214,-1.892632,-0.891132,-1.843921,-0.438732,-3.230094,-2.673914
193,6301,2.0,-0.257125,-0.575134,-1.540106,-2.634130,-3.117276,-2.367859,-5.715611,-2.526566,-1.438288,-0.087668,-1.822014,-0.809507,-1.915682,-0.485450,-3.211779,-2.589528
194,6333,3.0,-0.150265,-0.510188,-1.443304,-2.515159,-2.886709,-2.109763,-5.414123,-2.375831,-1.308360,-0.184140,-1.905437,-0.934705,-1.740761,-0.593867,-3.067029,-2.626271
195,6365,4.0,-0.202709,-0.532903,-1.497279,-2.659971,-3.064346,-2.333098,-5.770130,-2.570475,-1.396439,-0.086975,-1.908444,-0.880225,-1.889105,-0.583324,-3.150239,-2.593428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,26750,623.0,-0.154387,-0.424459,-0.924078,-1.927001,-2.781916,-1.835315,-5.053451,-2.361269,-2.092738,-0.876645,-2.010545,-0.929402,-1.733305,-0.792569,-2.678470,-2.450889
815,26782,624.0,-0.177026,-0.462909,-0.986014,-2.134641,-2.899238,-1.864526,-5.105547,-2.450253,-2.191836,-0.931906,-1.901362,-0.802392,-1.879904,-0.770641,-2.951623,-2.671760
816,26814,625.0,-0.147225,-0.437025,-0.998176,-1.900374,-2.939624,-1.926697,-5.230635,-2.397532,-2.116857,-0.849418,-1.912279,-0.839769,-1.971368,-0.864422,-3.055364,-2.761670
817,26846,626.0,-0.193439,-0.463623,-0.997673,-1.926222,-2.869117,-1.899136,-5.029737,-2.363634,-2.097018,-0.879290,-1.896622,-0.827462,-1.920639,-0.833232,-2.956209,-2.711027
818,26878,627.0,-0.199561,-0.480301,-1.027081,-1.971570,-2.920152,-1.939509,-5.067977,-2.414437,-2.136800,-0.867430,-1.861442,-0.749811,-1.979065,-0.733656,-3.078788,-2.769495

In [220]:
#reorder columns
df = df[['FrameNo', 'Timestamp','AU1', 'AU2', 'AU4', 'AU5', 'AU6', 'AU7', 'AU9',
       'AU10', 'AU12', 'AU14', 'AU15', 'AU17', 'AU20', 'AU23', 'AU25', 'AU26']]
df.columns

Index(['FrameNo', 'Timestamp', 'AU1', 'AU2', 'AU4', 'AU5', 'AU6', 'AU7', 'AU9',
       'AU10', 'AU12', 'AU14', 'AU15', 'AU17', 'AU20', 'AU23', 'AU25', 'AU26'],
      dtype='object')

In [221]:
#add other columns as required such as gaze angle and pose and zero them out as required by FACSvatar
df.insert(2,'confidence',1.0) #Imotions only gives AU readings when it has found a FACE
df.insert(3,'success',1)
df.insert(4,'gaze_angle_x',0.0)
df.insert(5,'gaze_angle_y',0.0)
df.insert(6,'pose_Rx',0.0)
df.insert(7,'pose_Ry',0.0)
df.insert(8,'pose_Rz',0.0)
df.insert(25,'AU45_r',0.0)

#Rename columns to match the ones generated by FACSvatar, examples can be seen in openface/default_clean directory
df= df.rename(columns={
                'AU1':'AU01_r',
                'AU2':'AU02_r',
                'AU4':'AU04_r',
                'AU5':'AU05_r',
                'AU6':'AU06_r',
                'AU7':'AU07_r',
                'AU9':'AU09_r',
                'AU10':'AU10_r',
                'AU12':'AU12_r',
                'AU14':'AU14_r',
                'AU15':'AU15_r',
                'AU17':'AU17_r',
                'AU20':'AU20_r',
                'AU23':'AU23_r',
                'AU25':'AU25_r',
                'AU264':'AU26_r',
                'FrameNo':'frame',
                'Timestamp':'timestamp'
                } )


df.head()

,frame,timestamp,confidence,success,gaze_angle_x,gaze_angle_y,pose_Rx,pose_Ry,pose_Rz,AU01_r,...,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26,AU45_r
191,0.0,6221,1.0,1,0.0,0.0,0.0,0.0,0.0,-0.053094,...,-2.527132,-1.217818,0.027071,-1.853040,-0.797674,-1.775669,-0.427596,-3.189752,-2.618732,0.0
192,1.0,6269,1.0,1,0.0,0.0,0.0,0.0,0.0,-0.255797,...,-2.530015,-1.355133,-0.088214,-1.892632,-0.891132,-1.843921,-0.438732,-3.230094,-2.673914,0.0
193,2.0,6301,1.0,1,0.0,0.0,0.0,0.0,0.0,-0.257125,...,-2.526566,-1.438288,-0.087668,-1.822014,-0.809507,-1.915682,-0.485450,-3.211779,-2.589528,0.0
194,3.0,6333,1.0,1,0.0,0.0,0.0,0.0,0.0,-0.150265,...,-2.375831,-1.308360,-0.184140,-1.905437,-0.934705,-1.740761,-0.593867,-3.067029,-2.626271,0.0
195,4.0,6365,1.0,1,0.0,0.0,0.0,0.0,0.0,-0.202709,...,-2.570475,-1.396439,-0.086975,-1.908444,-0.880225,-1.889105,-0.583324,-3.150239,-2.593428,0.0

In [222]:
df.columns

Index(['frame', 'timestamp', 'confidence', 'success', 'gaze_angle_x',
       'gaze_angle_y', 'pose_Rx', 'pose_Ry', 'pose_Rz', 'AU01_r', 'AU02_r',
       'AU04_r', 'AU05_r', 'AU06_r', 'AU07_r', 'AU09_r', 'AU10_r', 'AU12_r',
       'AU14_r', 'AU15_r', 'AU17_r', 'AU20_r', 'AU23_r', 'AU25_r', 'AU26',
       'AU45_r'],
      dtype='object')

In [223]:
#check if any NAN values exist
df_nan = df[df.isna().any(axis=1)]
df_nan

,frame,timestamp,confidence,success,gaze_angle_x,gaze_angle_y,pose_Rx,pose_Ry,pose_Rz,AU01_r,...,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26,AU45_r
434,243.0,14238,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
435,244.0,14270,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
436,245.0,14301,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
437,246.0,14333,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
438,247.0,14365,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
439,248.0,14397,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
440,249.0,14429,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
441,250.0,14462,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
442,251.0,14494,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
443,252.0,14525,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
444,253.0,14558,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
445,254.0,14589,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
446,255.0,14621,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
447,256.0,14654,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
448,257.0,14685,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
449,258.0,14717,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
450,259.0,14750,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
451,260.0,14800,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
452,261.0,14830,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
453,262.0,14861,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
454,263.0,14893,1.0,1,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [224]:
#fill NAN rows with 0
df = df.fillna(0)

#format frame no from float to int  
df['frame'] = df['frame'].apply(int)




#change timestamps to same one as openface_demo file for similar runtime execution
df_openface = pd.read_csv('openface/default_clean/OpenFace_demo.csv')
df.index = df_openface.index
df['timestamp'] = df_openface['timestamp']


#transform log logarithmic scores to probabilities/intensity in 0-1 range
df[['AU01_r', 'AU02_r',
       'AU04_r', 'AU05_r', 'AU06_r', 'AU07_r', 'AU09_r', 'AU10_r', 'AU12_r',
       'AU14_r', 'AU15_r', 'AU17_r', 'AU20_r', 'AU23_r', 'AU25_r', 'AU26']] = df[['AU01_r', 'AU02_r',
       'AU04_r', 'AU05_r', 'AU06_r', 'AU07_r', 'AU09_r', 'AU10_r', 'AU12_r',
       'AU14_r', 'AU15_r', 'AU17_r', 'AU20_r', 'AU23_r', 'AU25_r', 'AU26']].apply(lambda x : 1/(1+pow(10,-x)))


df[['frame','timestamp']]
#df_openface[['frame','timestamp']]

     frame  timestamp
0        0      0.000
1        1      0.001
2        2      0.002
3        3      0.003
4        4      0.004
..     ...        ...
623    623      0.623
624    624      0.624
625    625      0.625
626    626      0.626
627    627      0.627

[628 rows x 2 columns]

In [225]:
df.to_csv('openface/default_clean/demo_Imotions.csv',index=False)

In [226]:
df.dtypes

frame             int64
timestamp       float64
confidence      float64
success           int64
gaze_angle_x    float64
gaze_angle_y    float64
pose_Rx         float64
pose_Ry         float64
pose_Rz         float64
AU01_r          float64
AU02_r          float64
AU04_r          float64
AU05_r          float64
AU06_r          float64
AU07_r          float64
AU09_r          float64
AU10_r          float64
AU12_r          float64
AU14_r          float64
AU15_r          float64
AU17_r          float64
AU20_r          float64
AU23_r          float64
AU25_r          float64
AU26            float64
AU45_r          float64
dtype: object